<header>
    <nav>
        <div>
            <a href="index.php?route=list">Admin</a>
            <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
            </button>
        </div>
    </nav>
</header>