{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header-admin.html.twig" %}
{% endblock %}

{% block main %}
    <main>
        <h1>Créer un utilisateur</h1>
        {% if missingField.0 %}
            <h4>{{ missingField.0 }}</h4>
        {% endif %}
        <form method="post" action="index.php?route=create">
            <fieldset>
                <label for="firstName">Prénom</label>
                <input type="text" name="firstName" id="firstName">
            </fieldset>
            <fieldset>
                <label for="lastName">Nom</label>
                <input type="text" name="lastName" id="lastName">
            </fieldset>
            <fieldset>
                {% if wrongEmail.0 %}
                    <h4>{{ wrongEmail.0 }}</h4>
                {% endif %}
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </fieldset>
            <fieldset>
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password">
            </fieldset>
            <fieldset>
                {% if notSamePassword.0 %}
                    <h4>{{ notSamePassword.0 }}</h4>
                {% endif %}
                <label for="confirmPassword">Confirmez le mot de passe</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </fieldset>
            <fieldset>
                <label for="role">Rôle</label>
                <select id="role" name="role">
                    <option selected>Choisir un rôle</option>
                    <option value="USER">User</option>
                    <option value="ADMIN">Admin</option>
                </select>
            </fieldset>
            <fieldset>
                <button type="submit">Enregistrer</button>
            </fieldset>
        </form>
    </main>
{% endblock %}