{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header-admin.html.twig" %}
{% endblock %}

{% block main %}
    <main>
        <h1>Détails utilisateur</h1>
        <div style="width: 18rem;">
            <div>
                <h5>{{ user.getFirstName() }} {{ user.getLastName() }}</h5>
                <h6>{{ user.getEmail() }}</h6>
                <p>{{ user.getRole() }}</p>
                <a href="index.php?route=update&id=">Modifier</a>
                <a href="index.php?route=delete&id=">Supprimer</a>
            </div>
        </div>
    </main>
{% endblock %}