* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(53, 74, 82);
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header h1{
    color: white;
    margin: 20px;
}

header .nav{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

header ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style-type: none;
}