{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header.html.twig" %}
{% endblock %}

{% block main %}
    <main>
        <h1>Connexion</h1>
            {% if missingField.0 %}
                <h4>{{ missingField.0 }}</h4>
            {% endif %}
        <form method="post" action="index.php?route=login">
            <fieldset>
                {% if wrongEmail.0 %}
                    <h4>{{ wrongEmail.0 }}</h4>
                {% endif %}
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </fieldset>
            <fieldset>
                {% if wrongPassword.0 %}
                    <h4>{{ wrongPassword.0 }}</h4>
                {% endif %}
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password">
            </fieldset>
            <fieldset>
                <button type="submit">Se connecter</button>
            </fieldset>
        </form>
        <p>Pas encore de compte ?</p>
        <a></a>
    </main>
{% endblock %}