{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header.html.twig" %}
{% endblock %}

{% block main %}
    <main>
        <h1>Inscription</h1>
            {% if missingField.0 %}
                <h4>{{ missingField.0 }}</h4>
            {% endif %}
        <form method="post" action="index.php?route=register">
            <fieldset>
                <label for="firstName">Prénom</label>
                <input type="text" name="firstName" id="firstName">
            </fieldset>
            <fieldset>
                <label for="lastName">Nom</label>
                <input type="text" name="lastName" id="lastName">
            </fieldset>
            <fieldset>
                {% if alrdyUse.0 %}
                    <h4>{{ alrdyUse.0 }}</h4>
                {% endif %}
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </fieldset>
            <fieldset>
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password">
            </fieldset>
            <fieldset>
                {% if notSamePassword.0 %}
                    <h4>{{ notSamePassword.0 }}</h4>
                {% endif %}
                <label for="confirmPassword">Confirmez le mot de passe</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </fieldset>
            <button type="submit">S'inscrire</button>
        </form>
    </main>
{% endblock %}